<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>YouGlass</string>
    <key>CFBundleIconName</key>
    <string>YouGlass</string>
    <key>CFBundleIconFile</key>
    <string>YouGlass</string>
    <key>CFBundleIdentifier</key>
    <string>com.kevinhowe.YouGlass</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>YouGlass</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.9</string>
    <key>CFBundleVersion</key>
	<string>100900</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://github.com/appleforever11/YouGlass/releases/latest/download/appcast.xml</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>SUPublicEDKey</key>
    <string>ClEpfPWSSxo/xEINIxjFGMaqWxCUY5XXfWYesWOsaFU=</string>
</dict>
</plist>
